<% include header %> <% include topNav %>



<div class="row" id="content">
  <div class="col-md-4"><% include informTDTU %></div>
  <div class="col-md-6"><% include stream %></div>

</div>

<% include footer %>
