<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-light
    justify-content-between
    fixed-top
  "
>
  <a class="navbar-brand" href="/">SOCIAL</a>

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/"
        ><i
          class="
            fas
            fa-home
            <%if(typeof
            target!='undefined'&&target=='home'){%>text-primary<%}%>
          "
        ></i>
        Home</a
      >
    </li>
    <%if (user.role=='admin'){%>
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i
          class="
            fas
            fa-users-cog
            <%if(typeof
            target!='undefined'&&target=='admin'){%>text-primary<%}%>
          "
        ></i>
        Admin</a
      >
    </li>
    <%}%>
  </ul>

  <div class="d-flex">
    <div class="dropdown pt-2 pr-3">
      <span data-toggle="dropdown"
        ><i class="fas fa-sort-down pointer"></i
      ></span>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/user/logout">Đăng xuất</a>
        <%if(user.role!='student'){%>
        <button
          class="dropdown-item"
          data-toggle="modal"
          data-target="#change-password"
        >
          Đổi mật khẩu
        </button>
        <%}%>
      </div>
    </div>
    <a class="navbar-brand" href="/user?id=<%=user._id%>">
      <img
        src="<%=user.avatar %>"
        alt="Logo"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span><b><%=user.name%></b></span>
    </a>
  </div>
</nav>

<div class="modal fade" id="change-password">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thay đổi mật khẩu</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form action="/user/changepassword" method="post">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="pwd">Mật khẩu mới:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              name="newPassword"
            />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
